{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<BsForm @model={{@changeset}} @onSubmit={{perform this.onSubmitTask}} as |form|>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md d-flex">
        <fieldset>
          <legend>Rendez-vous</legend>
          <form.element @controlType="checkbox" @property="emergency" @label="Urgence" />
          {{#if this.consultationSubtypes}}
            <form.element @label="Sous-type de consultation" @controlType="power-select" @property="consultationSubtype" @options={{this.consultationSubtypes}} as |el|>
              <el.control @searchEnabled={{true}} @searchField="title" placeholder={{this.consultationSubtypePlaceholder}} as |consultationSubtype|>
                <span data-test-consultationSubtype={{consultationSubtype.id}}>{{consultationSubtype.title}}</span>
              </el.control>
            </form.element>
          {{/if}}
          {{#if this.consultationReasons}}
            <form.element @label="Motif de consultation" @controlType="power-select" @property="consultationReason" @options={{this.consultationReasons}} as |el|>
              <el.control @searchEnabled={{true}} @searchField="titleWithCode" placeholder={{this.consultationReasonPlaceholder}} as |consultationReason|>
                <span data-test-consultationReason={{consultationReason.id}}>{{consultationReason.titleWithCode}}</span>
              </el.control>
            </form.element>
          {{/if}}
          {{#if this.recommendedDurationAsMinutes}}
            <dl>
              <dt>Durée recommandée</dt>
              <dd>{{this.recommendedDurationAsMinutes}} minutes</dd>
            </dl>
          {{/if}}
          <form.element @label="Durée" @controlType="number" @model={{this}} @property="durationAsMinutes" data-test-duration as |el|>
            <el.control required min="0" step="1" />
          </form.element>
          <div class="hint">En minutes</div>
          <form.element @label="Date et heure de début" @required={{true}} @model={{this}} @property="startsAt" data-test-startsAt as |el|>
            <el.control pattern="[0-9]{2}/[0-9]{2}/[0-9]{4} [0-9]{2}:[0-9]{2}" />
          </form.element>
          <div class="hint">JJ/MM/AAAA hh:mm</div>
        </fieldset>
      </div>
      <div class="col-md d-flex">
        <fieldset>
          <legend>
            Patient
            {{#if this.isMinor}}
            <FaIcon @icon="child" @title="Personne mineure à la date du rendez-vous" />
            {{/if}}
          </legend>
          <Patient::Autocomplete @form={{form}} @changeset={{@changeset}} @forDate={{@changeset.startsAt}} />
          {{#unless @changeset.patient.id }}
            <form.element @label="Date de naissance (JJ/MM/AAAA)" @model={{this}} @property="patientBirthdate" as |el|>
              <el.control pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" />
            </form.element>
            <div class="hint">{{this.ageHint}}</div>
          {{/unless}}
          <form.element @label="Téléphone" @type="phone" @property="patientPhone" />
          <div class="hint">Connus : {{@changeset.patient.phoneNumbers}}</div>
        </fieldset>
      </div>
      <div class="col-md d-flex">
        <fieldset>
          <legend>OPJ</legend>
          <form.element @label="Service requérant" @controlType="power-select" @property="callingInstitution" @options={{this.callingInstitutions}} as |el|>
            <el.control @searchEnabled={{true}} @searchField="titleWithArea" as |callingInstitution|>
              <span data-test-callingInstitution={{callingInstitution.id}}>{{callingInstitution.titleWithArea}}</span>
            </el.control>
          </form.element>
          <form.element @label="Nom" @property="officerName" />
          <form.element @label="Téléphone" @type="phone" @property="officerPhone" />
          <form.element @label="E-Mail" @type="email" @property="officerEmail" />
          <form.element @label="Procès verbal" @property="officialReport" />
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <form.element @label="Circonstances" @controlType="textarea" @property="circumstances" />
      </div>
      <div class="col-md">
        <form.element @label="Remarques" @controlType="textarea" @property="comment" />
      </div>
    </div>
  </div>
  <div class="d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight">
      <LinkTo @route="consultation-type.appointments" @model={{this.consultationType.id}} class="btn btn-secondary">
        Annuler
      </LinkTo>
    </div>
    <div class="p-2 bd-highlight">
      {{#if @previousAppointmentSummary}}
        <span class="btn disabled">
          RDV précédent : {{@previousAppointmentSummary}}
        </span>
      {{/if}}
      <form.element @controlType="checkbox" @label="Créer un autre rendez-vous après sauvegarde" @model={{this}} @property="shouldCreateOther" data-test-shouldCreateOther />
    </div>
    <div class="p-2 bd-highlight">
      <form.submitButton @type="primary" data-test-submit>
        Sauvegarder
      </form.submitButton>
    </div>
  </div>
</BsForm>
