{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<BsForm @model={{@changeset}} @onSubmit={{@onSubmit}} as |form|>
  <form.element @label="Intitulé" @property="title" @customError={{@changeset.error.title.validation}} data-test-title as |el|>
    <el.control required />
  </form.element>
  <fieldset>
    <legend>Rôles ayant accès</legend>
    {{#each this.sortedRoles as |role|}}
      <form.element @controlType="checkbox" @label={{role.title}} @value={{array-includes this.checkedRoles role}} @onChange={{action "toggleRole" @changeset role}} data-test-role={{role.title}} />
    {{/each}}
  </fieldset>
  <form.element @controlType="switch" @label="Mode expert" @model={{this}} @property="expertMode" data-test-expertMode />
  {{#if this.expertMode}}
    <h3>Procédure recommandée</h3>
    <ol>
      <li>Copiez le contenu du champ texte ci-dessous</li>
      <li>
        Rendez-vous dans l'
        <a href="https://www.surveyjs.io/Survey/Builder/" target="_blank">éditeur de questionnaire compatible</a>
      </li>
      <li>Collez ce que vous venez de copier dans leur onglet <code>JSON Editor</code></li>
      <li>Rendez-vous dans leur onglet <code>Survey Designer</code></li>
      <li>Faites les changements souhaités</li>
      <li>Cliquez sur le bouton <code>Options</code> et assurez-vous que l'option <code>Generate Valid JSON</code> est bien activée</li>
      <li>Copiez le contenu de leur onglet <code>JSON Editor</code></li>
      <li>Collez ce que vous venez de copier pour remplacer le contenu du champ texte ci-dessous. </li>
    </ol>
    <form.element @label="Questionnaire brut" @controlType="textarea" @property="questionnaire" data-test-questionnaire as |el|>
      <el.control rows="5" />
    </form.element>
  {{/if}}
  <form.submitButton data-test-submit>Sauvegarder</form.submitButton>
</BsForm>
