{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<BsForm @model={{@changeset}} @onSubmit={{@onSubmit}} as |form|>
  <form.element @label="Intitulé" @property="title" @customError={{@changeset.error.title.validation}} as |el|>
    <el.control required />
  </form.element>
  <form.element @label="Icône" @property="iconName" />
  <div class="hint">
    <span class="icon"><FaIcon @icon={{@changeset.iconName}} /></span>
    <a href="https://fontawesome.com/v6/search?m=free&s=solid" target="_blank">Icônes disponibles</a>
  </div>
  {{#if @changeset.interventionDomain.isByAppointments}}
    <div class="d-flex flex-column flex-sm-row mx-sm-n1">
      <fieldset class="col mx-sm-1">
        <legend>Autorisations d'accès pour</legend>
        {{#each this.assignableRoles as |role|}}
          <form.element @controlType="checkbox" @label={{role.title}} @value={{array-includes this.checkedRoles role}} @onChange={{action "toggleRole" @changeset role}} />
        {{/each}}
      </fieldset>
      <fieldset class="col mx-sm-1">
        <legend>Créneaux affectables à</legend>
        {{#each this.assignableRoles as |role|}}
          <form.element @controlType="checkbox" @label={{role.title}} @value={{array-includes this.checkedAssignedRoles role}} @onChange={{action "toggleAssignedRole" @changeset role}} />
        {{/each}}
      </fieldset>
      <fieldset class="col mx-sm-1">
        <legend>Types de consultation complémentaires</legend>
        {{#each this.consultationTypes as |consultationType|}}
          <form.element @controlType="checkbox" @label={{consultationType.title}} @value={{array-includes this.complementaryConsultationTypes consultationType}} @onChange={{action "toggleComplementationConsultationType" @changeset consultationType}} />
        {{/each}}
      </fieldset>
    </div>
  {{/if}}
  <form.submitButton>Sauvegarder</form.submitButton>
  {{#if this.errorMessage}}
    <p>{{this.errorMessage}}</p>
  {{/if}}
</BsForm>
