{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
{{#if @certificate.signedCertificate}}
  <li data-test-attachedFileItem={{@certificate.filename}}>
    <FaIcon @icon="file-alt" />
    {{@certificate.filename}}
    {{#if this.fileToDownload}}
      {{#if @certificate.validated}}
        <span>
          <FaIcon @icon="stamp" />
          <BsTooltip>{{@certificate.checksum}}</BsTooltip>
        </span>
      {{/if}}
      <BsButton title="Télécharger" @type="secondary" @onClick={{action "downloadAttachedFile"}}>
        <FaIcon @icon="file-download" />
      </BsButton>
      {{#if (not @certificate.validated)}}
        <BsButton title="Télécharger un aperçu" @type="secondary" @onClick={{action "previewAttachedFile"}}>
          <FaIcon @icon="eye" />
        </BsButton>
        {{#if (can "validate attached-file" @certificate.signedCertificate)}}
          <Filae::DropdownConfirm @outterIcon="check-circle" @outterTitle="Valider le certificat…" @innerIcon="check-circle" @innerText="Confirmer la validation !" @onClick={{action "validate"}} data-test-validateButton />
        {{/if}}
        {{#if (can "destroy attached-file" @certificate.signedCertificate)}}
          <Filae::DropdownConfirm @outterIcon="trash-can" @outterTitle="Supprimer…" @innerIcon="trash-can" @innerText="Supprimer définitivement !" @onClick={{action "delete"}} />
        {{/if}}
      {{else}}
        <BsButton title="Envoyer le certificat…" @type="secondary" @onClick={{action "toggleSendByMail"}} data-test-sendByEmailButton={{true}}>
          <FaIcon @icon="paper-plane" />
        </BsButton>
        {{#if (can "validate attached-file" @certificate.signedCertificate)}}
          <Filae::DropdownConfirm @outterIcon="undo" @outterTitle="Dévalider le certificat…" @innerIcon="undo" @innerText="Confirmer la dévalidation !" @onClick={{action "unvalidate"}} />
        {{/if}}
      {{/if}}
    {{else}}
      <div class="spinner-border" role="status">
          <span class="sr-only">Chargement en cours…</span>
      </div>
    {{/if}}
  </li>
{{/if}}

{{#if this.shouldSendByMail}}
  <BsModalSimple @title="Envoi par courriel" @submitTitle="Envoyer" @closeTitle="Annuler" @onHidden={{action "toggleSendByMail"}}>
    <BsForm @onSubmit={{action "sendByMail"}} as |form|>
      <form.element @label="Adresse de courriel" @controlType="email" @value={{this.officerEmail}} @onChange={{action (mut this.officerEmail)}} data-test-officerEmailInput as |el|>
        <el.control required autofocus />
      </form.element>
    </BsForm>
  </BsModalSimple>
{{/if}}
