{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<BsForm @model={{@changeset}} @onSubmit={{@onSubmit}} as |form|>
  <form.element @label="Intitulé" @customError={{@changeset.error.title.validation}} @property="title" data-test-title  as |el|>
    <el.control required />
  </form.element>
  <form.element @label="Préfixe ONML" @property="identifier_prefix" />
  <div class="hint">Si vous ne renseignez pas de préfixe ONML, aucun identifiant ne sera généré pour les consultations au sein de ce domaine d'intervention.</div>
  <form.element @controlType="radio" @property="modusOperandi" @options={{this.modusOperandiOptions}} as |el|>
    <el.control as |option|>
      <span data-test-modusOperandi={{t (concat 'modus-operandi.' option)}}>{{t (concat 'modus-operandi.' option)}}</span>
    </el.control>
  </form.element>
  {{#if this.concernsStream}}
    <fieldset>
      <legend>Autorisations d'accès pour</legend>
      {{#each this.roles as |role|}}
        <form.element @controlType="checkbox" @label={{role.title}} @value={{array-includes @changeset.roles role}} @onChange={{action "toggleRole" @changeset role}} />
      {{/each}}
    </fieldset>
  {{/if}}
  <form.submitButton data-test-saveButton>Sauvegarder</form.submitButton>
</BsForm>
