{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<table>
  <thead>
    <tr>
      <th>Types de consultation</th>
      {{#each this.dayNames as |dayName|}}
        <th>{{dayName}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each this.typeSlotByConsultationType as |consultationType|}}
      <tr>
        <th>{{consultationType.consultationType.title}}</th>
        {{#each consultationType.weekDays as |weekDay|}}
          <td>
            <ul class="list-group my-2">
              {{#each weekDay.timeSlots as |timeSlot|}}
                <li class="list-group-item">
                  <span>{{timeSlot.startsAt}}</span>
                  <FaIcon @icon="angle-right" />
                  <span>{{timeSlot.endsAt}}</span>
                  <BsButton @onClick={{action "startEditing" timeSlot}} @type="none" class="Link--edit">
                    <FaIcon @icon="pencil-alt" />
                  </BsButton>
                  <Filae::DropdownConfirm @outterIcon="trash-can" @outterTitle="" @innerIcon="trash-can" @innerText="Supprimer définitivement." @onClick={{action "destroy" timeSlot}} class="Dropdown--delete" />
                </li>
              {{/each}}
              <BsButton @onClick={{action "startCreating" @schedule consultationType.consultationType weekDay.weekDay}} class="list-group-item">
                <FaIcon @icon="plus" />
              </BsButton>
            </ul>
          </td>
        {{/each}}
      </tr>
    {{else}}
      <tr>
        <td colspan="8">Aucun type de consultation.</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if this.timeSlotChangeset}}
  <BsModalSimple @title={{this.title}} @submitTitle="Sauvegarder" @closeTitle="Annuler" onHidden={{action "stopEditing" this.timeSlotChangeset}}>
    <BsForm @onSubmit={{action "saveChanges" this.timeSlotChangeset}} as |form|>
      <form.element @label="Heure de début (HH:MM)" @value={{this.timeSlotChangeset.startsAt}} @onChange={{action (mut this.timeSlotChangeset.startsAt)}} as |el|>
        <el.control required autofocus />
      </form.element>
      <form.element @label="Heure de fin (HH:MM)" @value={{this.timeSlotChangeset.endsAt}} @onChange={{action (mut this.timeSlotChangeset.endsAt)}} as |el|>
        <el.control autofocus />
      </form.element>
    </BsForm>
  </BsModalSimple>
{{/if}}
