{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<header class="Main--header">
  <ol class="Breadcrumb">
    <li class="Breadcrumb--item">
      <LinkTo @route="index">
        <FaIcon @icon="home" />Accueil
      </LinkTo>
    </li>
    <li class="Breadcrumb--item">
      <FaIcon @icon="wrench" />Admin
    </li>
    <li class="Breadcrumb--item">
      <LinkTo @route="interventions">
        <FaIcon @icon="calendar" @prefix="far" />Interventions
      </LinkTo>
    </li>
    <li class="Breadcrumb--item">
      <FaIcon @icon="edit" />Édition du domaine d'intervention
    </li>
  </ol>
</header>

<h1>{{@model.title}}</h1>

{{#with (changeset @model (action "validate")) as |changeable|}}
  <InterventionDomainForm @changeset={{changeable}} @onSubmit={{action "save" changeable}} />
{{/with}}
