{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
{{page-title this.consultationType.title}}

<header class="Main--header">
  <ol class="Breadcrumb">
    <li class="Breadcrumb--item">
      <LinkTo @route="index">
        <FaIcon @icon="home" />Accueil
      </LinkTo>
    </li>
    <li class="Breadcrumb--item">
      <LinkTo @route="consultation-type.appointments" @model={{this.consultationType}}>
      <FaIcon @icon="calendar" @prefix="far" />{{this.consultationType.title}}<FaIcon @icon={{this.consultationType.iconName}} />
      </LinkTo>
    </li>
  </ol>
  {{#if (can "consult archived appointments of consultation-type" this.consultationType)}}
  <div class="float-md-right">
    <LinkTo @route="consultation-type/archives" @model={{this.consultationType}} class="btn btn-light text-primary">
      <FaIcon @icon="archive" />Archives
    </LinkTo>
  </div>
  {{/if}}
</header>

<section class="Main--content">
  {{outlet}}
  <header class="Toolbar" role="toolbar">
    <BsForm @formLayout="inline" @model={{this}} as |form|>
      {{#if (can "assign users to consultation-type" this.consultationType)}}
        <form.element @controlType="switch" @type="light" @label="Mode Affectation" @property="assigning" />
      {{/if}}
      <form.element @controlType="switch" @label="Afficher les rendez-vous reportés et annulés" @property="displayHidden" />
    </BsForm>
    <BsButtonGroup as |bg|>
      <bg.button @icon="fas fa-arrow-down" @onClick={{action "goToCurrentDate"}} @title="Revenir à aujourd'hui" @type="primary" />
      <bg.button @icon="fas fa-arrow-left" @onClick={{action "goBackward"}} @title="Reculer de quelques jours" @type="primary" />
      <bg.button @icon="fas fa-arrow-right" @onClick={{action "goForward"}} @title="Avancer de quelques jours" @type="primary" />
      <bg.button @icon="fas fa-calendar-days" @onClick={{action "pickDate"}} @title="Aller directement à une date…" @type="primary" />
    </BsButtonGroup>
  </header>
  {{#if this.assigning}}
    <AssignmentsCalendar @calendarDays={{this.calendarDays}} @earliestStartTime={{this.earliestStartTime}} @latestEndTime={{this.latestEndTime}} @users={{this.users}} />
  {{else}}
    <AppointmentsCalendar @calendarDays={{this.calendarDays}} @earliestStartTime={{this.earliestStartTime}} @latestEndTime={{this.latestEndTime}} />
  {{/if}}
</section>

{{#if this.pickingDate}}
  <BsModalSimple @title="Aller directement au…" @onHide={{action "stopPickingDate"}}>
    <BsForm as |form|>
      <form.element as |el|>
        <PikadayInputless @value={{this.pickingDate}} @onSelection={{action "goToPickedDate"}} @yearRange="2018," id={{el.id}} />
      </form.element>
    </BsForm>
  </BsModalSimple>
{{/if}}
