// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2022 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
$primary: toolbarColor()
$secondary: lightgray

@import "ember-bootstrap/bootstrap"
@import "ember-bootstrap-filae-customisation"
@import "ember-power-select/themes/bootstrap"
@import "ember-power-select"

$fa-font-path: "webfonts"
@import "vendor/fontawesome-free/scss/fontawesome.scss"
@import "vendor/fontawesome-free/scss/solid.scss"
@import "vendor/fontawesome-free/scss/regular.scss"
@import "vendor/fontawesome-free/scss/brands.scss"

.App--content
  padding: $spacer

.sr-only
  text-indent: -10000px

h1
  &::first-letter
    text-transform: uppercase

  small
    display: block

h6
  font-weight: 900

fieldset
  @extend .border
  @extend .border-primary
  @extend .flex-fill
  @extend .p-3
  @extend .rounded

dl
  margin: 0

  dd
    font-weight: bold
    margin-bottom: 0.2em

table
  th
    vertical-align: top

.Main
  &--header
    margin: 0.5rem auto

.flash-messages-container
  position: fixed
  right: 0
  top: 5rem
  width: 100%
  z-index: 2000

  +media-breakpoint-up(sm)
    right: 1rem
    width: 33%

.flash-messages
  text-align: right

  .flash-message
    border-radius: 3px
    cursor: pointer
    position: relative
    right: 0
    text-align: left

    transition: all 700ms cubic-bezier(0.68, -0.55, 0.265, 1.55)

    &.active
      top: 0

      &.exiting
        top: -10rem

.Breadcrumb
  list-style: none
  margin: 0 0 1rem 0
  padding: 0
  display: inline-block

  &--item
    display: inline
    margin: 0
    padding: 0

    & + &::before
      content: "/"
      margin: 0 0.5rem
.fas, .far
  padding: 0 0.5rem
  &-narrow
    padding: 0
.fa-child
  font-size: larger
.fa-exclamation-circle
  font-size: larger
  color: firebrick

form
  span.invalid-message
    color: red
    font-size: smaller

.Link--add
  @extend .btn
  @extend .btn-primary

  &.list-group-item
    @extend .btn-primary

.Link--edit
  @extend .btn
  @extend .btn-sm
  @extend .btn-outline-warning

.Dropdown--success
  @extend .border-0
  @extend .btn-outline-success

.Dropdown--delete
  @extend .border-0
  @extend .btn-outline-danger

.dropdown-menu
  ul
    @extend .list-group
    @extend .list-group-flush
  li
    @extend .list-group-item

.modal
  img
    margin: auto
    max-width: 100%

.pagination
  flex-wrap: wrap

@import home
@import forms
@import flowing-consultations
@import users
@import certificate-templates
@import appointments
@import certificates
@import consultation-types
@import admin
