{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<tr data-test-consultationEntry={{@flowingConsultation.patient.fullName}}>
  <td class="Consultation--id">{{@flowingConsultation.onmlId}}</td>
  <td class="Consultation--state"><FaIcon @icon={{@flowingConsultation.state.icon}} @title={{@flowingConsultation.state.label}} /></td>
  {{#if @flowingConsultation.isMessage}}
    <FlowingConsultations::Message @flowingConsultation={{@flowingConsultation}} />
  {{else}}
    <FlowingConsultations::FlowingConsultation @flowingConsultation={{@flowingConsultation}} @archived={{@archived}} />
  {{/if}}
  <td class="Consultation--assignee">
    {{#if @flowingConsultation.assignee.id}}
      <BsDropdown as |dd|>
        <dd.button @type="light">
          <FaIcon @icon="user-md" />
          {{@flowingConsultation.assigneeName}}
        </dd.button>
        <dd.menu @renderInPlace={{false}} as |menu|>
          <ul>
            <menu.item>
              <li>
                <FaIcon @icon="envelope" />
                {{@flowingConsultation.assigneeEmail}}
              </li>
            </menu.item>
          </ul>
        </dd.menu>
      </BsDropdown>
    {{/if}}
  </td>
  <td class="Consultation--logs">
  <BsDropdown as |dd|>
    <dd.button @type="light">
      <FaIcon @icon="clock-rotate-left" />
    </dd.button>
    <dd.menu @renderInPlace={{false}} as |menu|>
      <ul>
        <menu.item>
          <li>
          {{#if @flowingConsultation.calledAt}}
            <FaIcon @icon="phone-volume" />
            <span>Reçu le {{moment-format @flowingConsultation.calledAt "DD/MM/YYYY à HH:mm"}}</span>
          {{else}}
            <FaIcon @icon="minus" /> Heure d'appel inconnue
          {{/if}}
          </li>
        </menu.item>
        <menu.item>
          <li>
          {{#if @flowingConsultation.assignedAt}}
            <FaIcon @icon="exchange-alt" />
            <span>Transmis le {{moment-format @flowingConsultation.assignedAt "DD/MM/YYYY à HH:mm"}}</span>
          {{else}}
            <FaIcon @icon="minus" />
            <span>Non transmis</span>
          {{/if}}
          </li>
        </menu.item>
        {{#if (not @flowingConsultation.cancelledAt)}}
          <menu.item>
            <li>
              {{#if @flowingConsultation.validatedAt}}
                <FaIcon @icon="check-circle" />
                <span>Validé le {{moment-format @flowingConsultation.validatedAt "DD/MM/YYYY à HH:mm" }}</span>
              {{else}}
                <FaIcon @icon="minus" />
                <span>Non validé</span>
              {{/if}}
            </li>
          </menu.item>
          {{else if @flowingConsultation.cancelledAt}}
          <menu.item>
            <li>
              <FaIcon @icon="ban" />
              <span>Annulé le {{moment-format @flowingConsultation.cancelledAt "DD/MM/YYYY à HH:mm"}}</span>
            </li>
          </menu.item>
        {{/if}}
      </ul>
    </dd.menu>
  </BsDropdown>
  </td>
  <td class="Consultation--attached-files"><AttachableItemAttachedFiles @attachable={{@flowingConsultation}} /></td>
  <td class="Consultation--controls">
    {{#if (not @archived)}}
      {{#if (can "manage flowing consultations of intervention-domain" @flowingConsultation.interventionDomain)}}
        {{#if (and (and (not @flowingConsultation.validatedAt) (not @flowingConsultation.cancelledAt)) (not @flowingConsultation.assignedAt))}}
          <BsButton @onClick={{fn @onAssign @flowingConsultation}} @type="outline-info" title="Transmettre" data-test-transmitButton={{true}}>
            <FaIcon @icon="user-md" />
          </BsButton>
        {{/if}}
        {{#if @flowingConsultation.assignedAt}}
          <FlowingConsultationCertificatesManager @flowingConsultation={{@flowingConsultation}} @certificateTemplates={{@availableCertificateTemplates}} />
        {{/if}}
        {{#if (and (and (not @flowingConsultation.validatedAt) (not @flowingConsultation.cancelledAt)) @flowingConsultation.assignedAt)}}
          <BsButton @onClick={{fn @onValidate @flowingConsultation}} @type="outline-success" title="Valider" data-test-validateButton={{true}}>
            <FaIcon @icon="check" />
          </BsButton>
        {{/if}}
        {{#if (and (not @flowingConsultation.validatedAt) (not @flowingConsultation.cancelledAt))}}
          <BsDropdown as |dd|>
            <dd.button @type="outline-danger">
            <FaIcon @icon="ban" @title="Annuler" />
            </dd.button>
            <dd.menu @renderInPlace={{false}} as |menu|>
              {{#each @flowingConsultation.cancellationReasons as |reason|}}
                <menu.item>
                  <BsButton @onClick={{fn @onCancel @flowingConsultation reason}} @type="light" @block={{true}}>
                    {{t (concat "flowing-consultation.cancelledBy." reason)}}
                  </BsButton>
                </menu.item>
              {{/each}}
            </dd.menu>
          </BsDropdown>
        {{/if}}
      {{/if}}
    {{else}}
      <FlowingConsultationCertificatesManager @flowingConsultation={{@flowingConsultation}} />
    {{/if}}
    {{#if (or (not @archived) (can "edit archived flowing consultations of intervention-domain" @flowingConsultation.interventionDomain))}}
      <Filae::EditLink @route="flowing-consultations/edit" @model={{@flowingConsultation.id}} />
    {{/if}}
  </td>
</tr>
