{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<BsModal @open={{true}} @backdropClose={{false}} as |modal| >
  <modal.header @title="Avant de clore le sujet…" />
  <modal.body>
    {{#if this.appointment.consultationType.complementaryConsultationTypes}}
      <h2>Pour votre interlocuteur…</h2>
      <ComplementaryAppointmentsPicker @appointment={{this.appointment}} @complementaryConsultationTypes={{this.appointment.consultationType.complementaryConsultationTypes}} />
    {{/if}}
  </modal.body>
  {{#if this.appointment.certificateCompleted}}
    <modal.body>
      <h2>Gestion du certificat</h2>
      {{#if (and this.appointment.certificateValidated this.appointment.validatedCertificate)}}
        <BsButton @onClick={{action "downloadValidatedCertificate"}} @type="outline-success">
          <FaIcon @icon="file-download" />
          Télécharger le certificat validé
        </BsButton>
      {{else}}
        <BsButtonGroup>
          <BsButton @onClick={{action "downloadPreview" this.appointment}} @icon="fas fa-eye">
            Télécharger un aperçu du certificat
          </BsButton>
          <Filae::DropdownConfirm @onClick={{action "validateCertificate" this.appointment}} @outterText="Valider le certificat" @outterIcon="square-check" @innerText="Confirmer la validation du certificat" @innerIcon="square-check" @type="success" />
        </BsButtonGroup>
      {{/if}}
    </modal.body>
  {{/if}}
  <modal.body>
    <h2>Vous pouvez désormais…</h2>
    <div class="Conclusion--patientReleased">
      {{#if this.appointment.patientReleased}}
        <Filae::DropdownConfirm @onClick={{action "patientIsNotReleased" this.appointment}} @outterText="Libérer le patient." @outterIcon="square-check" @innerText="Le patient doit rester avec moi." @innerIcon="undo" />
      {{else}}
        <BsButton @onClick={{action "patientIsReleased" this.appointment}} @defaultText="Libérer le patient." @type="none" @icon="far fa-square" />
      {{/if}}
    </div>
  </modal.body>
  <modal.footer>
    <LinkTo @route="certificates.edit" @model={{this.appointment.id}}>
      Revenir à la consultation
    </LinkTo>
    <BsButton @onClick={{action "backToAppointements"}} @type="primary" @defaultText="Revenir à l'agenda" />
  </modal.footer>
</BsModal>
