{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<header class="Main--header">
  <ol class="Breadcrumb">
    <li class="Breadcrumb--item">
      <LinkTo @route="index">
        <FaIcon @icon="home" />Accueil
      </LinkTo>
    </li>
    <li class="Breadcrumb--item">
      <LinkTo @route="flowing-consultations" @model={{@model.interventionDomain.id}}>
        <FaIcon @icon="list" />{{@model.interventionDomain.title}}
      </LinkTo>
    </li>
    <li class="Breadcrumb--item">
      <FaIcon @icon="archive" />Archives
    </li>
  </ol>
</header>

<section class="Main--content">
  <BsForm @model={{this}} @onSubmit={{action "filter"}} @class="FlowingConsultations--filterArchive" as |form|>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <form.element @label="Statut" @controlType="power-select" @options={{this.statuses}} @property="selectedStatus" as |el|>
            <el.control as |status|>
              {{status.title}}
            </el.control>
          </form.element>
        </div>
        <div class="col-3">
          <form.element @label="Actions horodatées" @controlType="power-select" @options={{this.actionsWithBlank}} @property="selectedAction" as |el|>
            <el.control as |action|>
              {{action.title}}
            </el.control>
          </form.element>
          {{#if this.selectedAction.id}}
            <div class="row">
              <div class="col">
                <form.element @label="Date de début" @property="startDate" as |el|>
                  <PikadayInput @value={{el.value}} @onSelection={{action el.setValue}} @format={{this.dateFormat}} @yearRange="2018,currentYear" id={{el.id}} />
                </form.element>
                <div class="hint">JJ-MM-AAAA</div>
              </div>
              <div class="col">
                <form.element @label="Heure de début" @controlType="time" @property="startTime" />
                <div class="hint">hh:mm</div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <form.element @label="Date de fin" @property="endDate" as |el|>
                  <PikadayInput @value={{el.value}} @onSelection={{action el.setValue}} @format={{this.dateFormat}} @yearRange="2018,currentYear" id={{el.id}} />
                </form.element>
                <div class="hint">JJ-MM-AAAA</div>
              </div>
              <div class="col">
                <form.element @label="Heure de fin" @controlType="time" @property="endTime" />
                <div class="hint">hh:mm</div>
              </div>
            </div>
          {{/if}}
        </div>
        <div class="col">
          <form.element @label="Type de consultation" @controlType="power-select" @options={{this.consultationTypesWithBlank}} @property="selectedConsultationType" as |el|>
            <el.control @searchEnabled={{true}} @searchField="title" as |consultationType|>
              {{consultationType.title}}
            </el.control>
          </form.element>
        </div>
        <div class="col">
          <form.element @label="Service requérant" @controlType="power-select" @options={{this.callingInstitutionsWithBlank}} @property="selectedCallingInstitution" as |el|>
            <el.control @searchEnabled={{true}} @searchField="title" as |callingInstitution|>
              {{callingInstitution.title}}
            </el.control>
          </form.element>
        </div>
        <div class="col">
          <form.element @label="Médecin" @controlType="power-select" @options={{this.physiciansWithBlank}} @property="selectedPhysician" as |el|>
            <el.control @searchEnabled={{true}} @searchField="title" as |physician|>
              {{physician.abridgedName}}
            </el.control>
          </form.element>
        </div>
        <div class="col">
          <form.element @label="Genre" @controlType="power-select" @options={{this.patientGenders}} @property="selectedPatientGender" as |el|>
            <el.control @searchEnabled={{true}} @searchField="title" as |patientGender|>
              {{patientGender.title}}
            </el.control>
          </form.element>
        </div>
        <div class="col">
          <form.element @label="Nom du patient" @property="patientLastName" />
        </div>
        <div class="col">
          <form.element @label="Âge" @controlType="power-select" @options={{this.patientAgeRanges}} @property="selectedPatientAgeRange" as |el|>
            <el.control @searchEnabled={{true}} @searchField="title" as |range|>
              {{range.title}}
            </el.control>
          </form.element>
        </div>
        <form.submitButton title="Filtrer"><FaIcon @icon="filter" /></form.submitButton>
      </div>
    </div>
  </BsForm>
  <table>
    {{#each this.flowingConsultations as |flowingConsultation|}}
      <FlowingConsultations::Item @flowingConsultation={{flowingConsultation}} @archived={{true}} />
    {{/each}}
    <caption>
      {{#if this.isFetchingFlowingConsultations}}
        <div class="spinner-border m-5" role="status">
            <span class="sr-only">Chargement en cours...</span>
        </div>
      {{else}}
        {{t "flowing-consultation.count" nb=this.flowingConsultations.length}}
      {{/if}}
    </caption>
  </table>
</section>
