// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2022 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
doctype 5
html
  head
    sass:
      body
        font-size: 10pt

      dl, dt, dd
        margin: 0
        padding: 0

      =column($width, $margin: 0)
        border: 0
        display: inline-block
        padding: 0
        margin: $margin
        vertical-align: top
        width: $width

      .Certificate-unitDescription
        +column(25%, 0 5% 0 0)
        float: left
      .Header-logo
        margin: 0 0 36pt
        text-align: center
      .Header-organisationChart
        font-size: smaller
        margin: 0 0 3rem 0
        dd
          padding-left: 12pt
      .Header-heading
        text-align: center
        margin: 0 0 3rem 0

        h1
          margin-bottom: 0
        h2
          margin-top: 4rem
          small
            display: block


  body
    aside.Certificate-unitDescription
      .Header-logo
        img src= ENV['CERTIFICATE_LAYOUT_IMAGE']
      section.Header-organisationChart
        = simple_format Settings::CertificateLayout.organisation_chart
    header.Certificate-header
      .Header-heading
        h1= ENV['CERTIFICATE_LAYOUT_TITLE']
        address= ENV['CERTIFICATE_LAYOUT_ADDRESS']
        h2
          | Certificat médical établi sur réquisition,
          small uniquement destiné à l'autorité requérante.

    main
      = yield
