{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
{{page-title this.applicationTitle front=true}}

<div class="flash-messages-container">
  <div class="flash-messages">
    {{#each this.flashMessages.arrangedQueue as |flash|}}
      <span data-test-flash-type={{flash.type}}><FlashMessage @flash={{flash}} /></span>
    {{/each}}
  </div>
</div>

<nav class="navbar bg-primary text-light">
  <LinkTo @route="index" class="btn btn-primary">
    <FaIcon @icon="home" />
    FILAÉ
  </LinkTo>
  <div>
    {{#if this.session.isAuthenticated}}
      <FilaeVersion />
      <BsDropdown as |dd|>
        <BsButton @onClick={{action "invalidateSession"}} @type="light" @outline={{true}} data-test-logout>
          {{this.currentUser.firstName}}
          <FaIcon @icon="sign-out-alt" />
          Me déconnecter
        </BsButton>
        <dd.button @type="light" @outline={{true}} data-test-main-menu>
          <FaIcon @icon="cog" @title="Paramètres" />
        </dd.button>
        <dd.menu as |menu|>
          <menu.linkTo @route="profile" data-test-profile>
            <FaIcon @icon="user" />Mon profil
          </menu.linkTo>
          {{#if (can "list patients")}}
            <menu.divider />
            <menu.linkTo @route="patients" data-test-manage-patients>
              <FaIcon @icon="address-card" />Patients
            </menu.linkTo>
          {{/if}}
          {{#if (can "configure users")}}
            <menu.divider />
            <menu.linkTo @route="users" data-test-manage-users>
              <FaIcon @icon="users" />Utilisateurs
            </menu.linkTo>
          {{/if}}
          {{#if (can "configure intervention-domains")}}
            <menu.linkTo @route="interventions" data-test-manage-interventions>
              <FaIcon @icon="calendar" @prefix="far" />Interventions
            </menu.linkTo>
          {{/if}}
          {{#if (can "configure calling-areas")}}
            <menu.linkTo @route="calling-areas">
              <FaIcon @icon="user-secret" />Services requérants
            </menu.linkTo>
          {{/if}}
          {{#if (can "configure certificate-templates")}}
            <menu.linkTo @route="certificate-templates" data-test-certificateTemplates-manage>
              <FaIcon @icon="file-alt" @prefix="far" />Modèles de certificats
            </menu.linkTo>
          {{/if}}
        </dd.menu>
      </BsDropdown>
    {{/if}}
  </div>
</nav>

<main class="App--content">
  {{outlet}}
</main>
