{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
{{page-title this.interventionDomain.title}}

<header class="Main--header">
  <ol class="Breadcrumb">
    <li class="Breadcrumb--item">
      <LinkTo @route="index">
        <FaIcon @icon="home" />Accueil
      </LinkTo>
    </li>
    <li class="Breadcrumb--item">
      <FaIcon @icon="list" />{{this.interventionDomain.title}}
    </li>
  </ol>
  <div class="float-md-right">
    {{#if (can "consult archived flowing consultations of intervention-domain" this.interventionDomain)}}
    <LinkTo @route="flowing-consultations/archives" @model={{this.interventionDomain.id}} class="btn btn-light text-primary">
        <FaIcon @icon="archive" />Archives
      </LinkTo>
    {{/if}}
    <LinkTo @route="flowing-consultations/new" @model={{this.interventionDomain.id}} @query={{hash message="true"}} class="btn btn-secondary">
      <FaIcon @icon="plus" />Nouveau message
    </LinkTo>
    <LinkTo @route="flowing-consultations/new" @model={{this.interventionDomain.id}} @query={{hash message="false"}} class="btn btn-primary" data-test-newConsultationButton={{true}}>
      <FaIcon @icon="plus" />Nouvelle consultation
    </LinkTo>
  </div>
</header>

<section class="Main--content">
  {{#each this.consultationStates as |consultationState|}}
  <FlowingConsultations::State @consultationState={{consultationState}} @onAssign={{action "startAssignmentUpdate"}} @onValidate={{action "startValidationDateUpdate"}} @onCancel={{action "startCancellationDateUpdate"}} @availableCertificateTemplates={{this.availableCertificateTemplates}} />
  {{/each}}
</section>

{{#if this.validationDateChangeset}}
  <BsModalSimple @title="Validation" @submitTitle="Sauvegarder" @closeTitle="Annuler" @onHidden={{action "stopValidationDateUpdate" this.validationDateChangeset}}>
    <BsForm @onSubmit={{action "saveValidationDateUpdate" this.validationDateChangeset}} data-test-validationForm as |form|>
      <form.element @label="Heure de validation" @value={{this.validatedAt}} @onChange={{action (mut this.validatedAt)}} as |el|>
        <el.control required autofocus pattern="[0-9]{2}/[0-9]{2}/[0-9]{4} [0-9]{2}:[0-9]{2}"/>
      </form.element>
      <div class="hint">JJ/MM/AAAA hh:mm</div>
      <BsButton @onClick={{action "setDateAtNow" "validatedAt"}}>
        Maintenant
      </BsButton>
    </BsForm>
  </BsModalSimple>
{{/if}}

{{#if this.cancellationDateChangeset}}
  <BsModalSimple @title="Annulation" @submitTitle="Sauvegarder" @closeTitle="Annuler" @onHidden={{action "stopCancellationDateUpdate" this.cancellationDateChangeset}}>
    <BsForm @onSubmit={{action "saveCancellationDateUpdate" this.cancellationDateChangeset}} as |form|>
      <form.element @label="Heure d'annulation" @value={{this.cancelledAt}} @onChange={{action (mut this.cancelledAt)}} as |el|>
        <el.control required autofocus pattern="[0-9]{2}/[0-9]{2}/[0-9]{4} [0-9]{2}:[0-9]{2}"/>
      </form.element>
      <div class="hint">JJ/MM/AAAA hh:mm</div>
      <BsButton @onClick={{action "setDateAtNow" "validatedAt"}}>
        Maintenant
      </BsButton>
    </BsForm>
  </BsModalSimple>
{{/if}}

{{#if this.assignmentChangeset}}
  <BsModalSimple @title="Transmission" @submitTitle="Sauvegarder" @closeTitle="Annuler" @onHidden={{action "stopAssignmentUpdate" this.assignmentChangeset}}>
    <BsForm @model={{this.assignmentChangeset}} @onSubmit={{action "saveAssignmentUpdate" this.assignmentChangeset}} data-test-assignmentForm as |form|>
      <form.element @label='Transmis au médecin…' @controlType="power-select" @property="assignee" @options={{this.physicians}} data-test-physician as |el|>
        <el.control @searchEnabled={{true}} @searchField="fullName" @renderInPlace={{true}} as |physician|>
          <span data-test-physician={{physician.fullName}}>{{physician.fullName}}</span>
        </el.control>
      </form.element>
      {{#if this.assigned}}
        <form.element @label="Heure de transmission" @value={{this.assignedAt}} @onChange={{action (mut this.assignedAt)}} as |el|>
          <el.control required autofocus pattern="[0-9]{2}/[0-9]{2}/[0-9]{4} [0-9]{2}:[0-9]{2}"/>
        </form.element>
        <div class="hint">JJ/MM/AAAA hh:mm</div>
      {{/if}}
    </BsForm>
  </BsModalSimple>
{{/if}}
