{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<header class="Main--header">
  <ol class="Breadcrumb">
    <li class="Breadcrumb--item">
      <LinkTo @route="index">
        <FaIcon @icon="home" />Accueil
      </LinkTo>
    </li>
    <li class="Breadcrumb--item">
      <FaIcon @icon="wrench" />Admin
    </li>
    <li class="Breadcrumb--item">
      <FaIcon @icon="address-card" />Patients
    </li>
  </ol>
</header>

<Patient::Filters @lastName={{this.lastNameFilter}} @firstName={{this.firstNameFilter}} @birthdate={{this.birthdateFilter}} @birthYear={{this.birthYearFilter}} @onFilter={{this.filtersDidChange}} />

<div>
  <h1 class="d-inline-block">
    {{t "patient.count" nb=this.numberOfRows}} sur {{ this.meta.totalPatients }}
  </h1>
  <div class="float-right pt-3">
    <BsButtonGroup @value={{this.size}} @type="radio" @size="sm" @onChange={{action (mut this.size)}} aria-label="Sélecteur de nombre de lignes" as |bg|>
      <bg.button @type="primary" @value={{25}}>25</bg.button>
      <bg.button @type="primary" @value={{50}}>50</bg.button>
      <bg.button @type="primary" @value={{75}}>75</bg.button>
      <bg.button @type="primary" @value={{100}}>100</bg.button>
    </BsButtonGroup>
    <span>lignes</span>
  </div>
</div>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Genre</th>
      <th scope="col">NOM Prénom</th>
      <th scope="col">Naissance</th>
      <th scope="col">Téléphones</th>
      <th scope="col">Historique</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.patients as |patient|}}
      <Admin::PatientRow @patient={{patient}} />
    {{/each}}
  </tbody>
</table>

<nav aria-label="Navigation par pages dans la liste des patients">
  <ul class="pagination justify-content-center">
    {{#each this.allPages as |number|}}
    {{#if (eq number this.page) }}
      <li class="page-item active">
        <span class="page-link">{{number}}<span class="sr-only">(current)</span></span>
      </li>
      {{else}}
        <li class="page-item">
          <LinkTo @route="patients" @query={{hash page=number size=this.size}} @class="page-link">{{number}}</LinkTo>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</nav>

{{outlet}}
