<!--
  ~ Filaé is a tool supporting French Forensic Medical Units.
  ~ Copyright (C) 2018-2022 infoPiiaf SARL
  ~
  ~ This file is part of Filaé which is free software: you can redistribute it
  ~ and/or modify it under the terms of the GNU Affero General Public License
  ~ as published by the Free Software Foundation, version 3.
  ~
  ~ Filaé is distributed in the hope that it will be useful, but
  ~ WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
  ~ License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <https://www.gnu.org/licenses/>
  ~
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FILAÉ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=lk9O2JRBKO">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=lk9O2JRBKO">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=lk9O2JRBKO">
    <link rel="manifest" href="/site.webmanifest?v=lk9O2JRBKO">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=lk9O2JRBKO" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=lk9O2JRBKO">
    <meta name="apple-mobile-web-app-title" content="FILA&Eacute;">
    <meta name="application-name" content="FILA&Eacute;">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <!-- https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/web-gui.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/web-gui.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
