{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
{{page-title "Rédaction du certificat"}}

<header class="Main--header">
  <ol class="Breadcrumb">
    <li class="Breadcrumb--item">
      <LinkTo @route="index">
        <FaIcon @icon="home" />Accueil
      </LinkTo>
    </li>
    <li class="Breadcrumb--item">
      <LinkTo @route="consultation-type.appointments" @model={{this.consultationType}}>
        <FaIcon @icon="calendar" @prefix="far" />
        {{this.consultationType.title}}
        <FaIcon @icon={{this.consultationType.iconName}} />
      </LinkTo>
    </li>
    <li class="Breadcrumb--item">
      <FaIcon @icon="file" @prefix="far" />Certificat
    </li>
  </ol>
</header>

<div class="Appointment--header">
  <AppointmentTitle @appointment={{this.appointment}} @toggleMedicalFileEdition={{action "toggleMedicalFileEdition"}} />
</div>

{{#if (can "consult certificate of appointment" this.appointment)}}
  <div class="card my-4">
    <div class="card-header">
      <h2>Observations</h2>
    </div>
    {{#if this.appointment.certificateQuestionnaire}}
      <div class="card-body">
        {{#if this.appointment.certificateValidated}}
          <div class="d-flex justify-content-between my-4">
            <span>
              Ce certificat a été validé.
              <BsButton @onClick={{action "downloadValidatedCertificate"}} @type="primary" @icon="fas fa-file-download">
                Télécharger le certificat validé
              </BsButton>
            </span>
            {{#if (can "edit certificate of appointment" this.appointment)}}
              <span>
                <small>Pour le modifier, vous devez d'abord le dévalider.</small>
                <Filae::DropdownConfirm @onClick={{action "unvalidateCertificate"}} @outterText="Dévalider le certificat" @outterIcon="backward" @innerText="Confirmer la dévalidation du certificat" @type="outline-danger" />
              </span>
            {{/if}}
          </div>
        {{/if}}
        <CertificateDisplay @attachable={{this.appointment}} @canEdit={{and (can "edit certificate of appointment" this.appointment) (not this.appointment.certificateValidated)}} @onComplete={{action "save"}} />
      </div>
    {{else}}
      <div class="card-body">
        {{#if this.appointment.certificateValidated}}
          {{component "attached-files-manager/validated-certificate" attachable=this.appointment.certificate.content}}
        {{else}}
          <PrintedSignaturePreview />
          {{component "attached-files-manager/signed-certificate" attachable=this.appointment.certificate.content}}
        {{/if}}
        <p>
          Vous pouvez également attacher ci-dessous des documents annexes à la consultation. Cela alimentera les archives également.
        </p>
      </div>
      <div class="card-footer">
        <BsButton @type="primary" @onClick={{action "save" undefined}}>
          La consultation est terminée
        </BsButton>
      </div>
    {{/if}}
  </div>
{{/if}}

<div class="d-flex flex-column flex-md-row">
  <div class="col">
    <AttachedFilesManager @attachable={{this.appointment}} @type="standard" />
  </div>
  {{#if (can "consult medical content of attachable" this.appointment)}}
    <div class="col">
      <AttachedFilesManager @attachable={{this.appointment}} @type="medical-content" />
    </div>
  {{/if}}
</div>

{{#if this.needsToEditMedicalFile}}
  <MedicalFileForm @appointment={{this.appointment}} @onCloseToggle={{action "toggleMedicalFileEdition"}} />
{{/if}}
