<BsDropdown as |dd|>
  <dd.button @type="outline-secondary" @size="sm" @icon="fas fa-clock-rotate-left" />
  <dd.menu @align={{or @align "left"}} data-test-logs-list as |ddm|>
    <ol class="list-group list-group-flush text-nowrap">
      {{#each @loggable.logs as |log|}}
        <ddm.item>
        <li class="list-group-item">
          <FaIcon @icon="clock" />&nbsp;
          {{log.humanTitle}}
          <span>
            <FaIcon @icon="info-circle" />
            <BsTooltip @placement="left" @title={{log.humanChanges}} />
          </span>
        </li>
        </ddm.item>
      {{/each}}
    </ol>
  </dd.menu>
</BsDropdown>
